body{background:url(../images/top_bg.gif) #ffffff 0 5px repeat-x; font-size: 12px;text-decoration: none;margin-top:0px;margin-left: auto;margin-right: auto;padding:0px;font-family:Arial,宋体, Helvetica, sans-serif;}
.content{width:960px;margin-left:auto;margin-right:auto;}
img{border:solid 0px #fff;}
.b_img{border:solid 3px #D0D3D8;}
.numletter{font-family:Arial, Helvetica, sans-serif;}
.chi_word{font-family:宋体;}
.clear{margin:0;padding:0;height:0;font-size:0;line-height:0;clear:both;overflow:hidden;}
.fl{ float:left;}
.fr{float:right;}
.hidden{overflow:hidden;}
.hide{display:none;}
.showblock{display:block;}
/*首页*/
#homescroll{margin: 0 auto;width:960;height:208px;background:#dbdbdb;margin-top:10px;}
#homescroll .scrollfilter{filter:progid:DXImageTransform.Microsoft.RevealTrans(Transition=23,Duration=2);width:750px;height:200px;background:#fff;margin-top:4px; margin-left:4px;padding:0px; overflow:hidden; text-align:center;overflow:hidden;}
#homescroll .scrolltip{width:200px; background:#fff;height:200px;margin-top:4px;margin-right:4px;}
#homescroll .scrolltip ul{margin:0;padding:0; list-style-type:none;}
#homescroll .scrolltip ul li{margin:0;padding:0;height:40px;width:100%;line-height:40px;overflow:hidden;}
#homescroll img{width:748px;height:200px;}
#homescroll .scrolltip ul .select{background:url(../images/main_bg.png);}
#homescroll .scrolltip ul .unselect{background:url(../images/main_bg.png) 0px -40px;}

.homebox{width:100%;margin-top:10px;}
.homebox .box{width:300px;height:250px;border-left:solid 1px #ccc;border-right:solid 1px #ccc;border-bottom:solid 1px #ccc;}
.homebox .middlebox{margin-left:26px;}
.homebox .title{height:35px;font-weight:bold;color:#49525a;line-height:35px;background:url(../images/graybox.gif);padding-left:10px;}
.homebox .list{margin-left:10px; background:url(../images/top10.gif) no-repeat 0 5px;padding-left:15px;}
/*顶部导航*/
.top{height:85px;}
.top .logo{height:80px;width:300px;background:url(../images/logo.jpg) left top no-repeat;margin-top:5px;}
.top .nav{width:620px;height:85px;}
.top .nav ul{list-style-type:none;font-family:Arial, Helvetica, sans-serif;margin-top:10;margin-left:10px;padding:0;}
.top .nav ul li{float:right;width:62px;height:62px;margin-left:20px;text-align:center;color:#555;cursor:pointer; line-height:1;}
.top .nav ul .select{background:url(../images/sel-menu-blue-bg.png);}
.top .nav ul .overbtn{background:url(../images/sel-menu-blue-bg.png);}
.top .nav a:link,.topnav_ul_li_s a:visited{color:#555;text-decoration:none;}
.top .nav a:hover,.topnav_ul_li_s a:active{color:#555;text-decoration: underline;}

.left_box{width:206px;height:100%;background:url(../images/left_bg.jpg) repeat-y;}
.left_title{width:100%;height:36px;background:url(../images/left_title.jpg);line-height:36px;}
.left_space{width:100%;height:12px;background:url(../images/left_lanmu_tiao.jpg) repeat-x;}
.left_box ul{ list-style-type:none;margin:0;padding:0;}
.left_box li a{BORDER-BOTTOM: #d4d4d4 1px solid; LINE-HEIGHT: 30px; MARGIN: 0px; PADDING-LEFT: 36px; DISPLAY: block; HEIGHT: 30px; FONT-SIZE: 13px}
.left_bottom{width:100%;height:7px;background:url(../images/zj_line.jpg) ; overflow:hidden;}

.rightbox{width:730px;}
.right_title{width:100%;height:36px;line-height:36px;background:url(../images/tit.jpg) no-repeat; }
.right_title_left{width:180px;font-weight:bold;font-size:14px;float:left;margin-left:30px;color:#555;}
.right_title_right{width:480px;font-size:12px;float:left;text-align:right;font-family:宋体;}
.rightbox .right_info_top{width:100%;height:17px;background:url(../images/info_top_bg.jpg) no-repeat;}
.rightbox .right_into_middle{width:100%;background:url(../images/right_bg.png) repeat-y; }
.rightbox .right_into_middle .info_detail_content{margin:0;padding:5px 20px;line-height:2;}
.rightbox .right_info_bottom{width:100%;height:7px;background:url(../images/zj_line.jpg) right;overflow:hidden;}

.info_detail_title{width:100%;height:35px;line-height:35px;font-size:14px;font-weight:bold;text-align:center;color:#4c4949;}
.info_detail_hit{height:35px;line-height:35px;text-align:center;border-bottom:#d3d3d3 1px dotted;margin-bottom:15px;margin-left:20px;margin-right:20px;}

.into_list_title{width:500px;border-bottom:dotted 1px #d3d3d3;height:30px;background:url(../images/news_ico.jpg) left center no-repeat;padding-left:20px;}
.into_list_time{border-bottom:dotted 1px #d3d3d3; text-align:right;}
/* 网站链接 */
a{text-decoration: none;}
a:link {color: #49525a;} 
a:visited {color: #49525a;}
a:hover{color: #d20001;}
a:active {color: #d20001;}
/*底部*/
.bottom{width:100%;height:60px;background:url(../images/bottom_bg.gif) repeat-x;border-top:solid #d3d3d3 1px;margin-top:10px;padding-top:10px;text-align:center;line-height:2;}
.bottom img{ display:none;}
/*case*/
.case_tb{width:600px;margin-left:20px;margin:0px 0px 10px 20px;}
.case_tb .image_td{width:128px;}
.case_tb img{width:112px;height:112px;}
.case_tb .detail_td{font-size:12px;height:14px;line-height:14px;padding-left:20px;background:url(../images/news-more.jpg) center left no-repeat;color:#f00;}
/*site*/
.site_tb{width:600px;margin-left:20px;margin:0px 0px 10px 20px;}
.site_tb .title_td{font-weight:bold; color:#4d545a}
.site_tb .image_td{width:128px;}
.site_tb img{width:112px;height:112px;}
.site_tb .detail_td{font-size:12px;height:14px;line-height:14px;padding-left:20px;background:url(../images/news-more.jpg) center left no-repeat;color:#f00;}

.site_content{width:100%;}
.site_content .title{width:100%;height:36px;line-height:36px;background:url(../images/title.png) no-repeat; }
.site_content .title .left{width:180px;font-weight:bold;font-size:14px;float:left;margin-left:30px;color:#555;}
.site_content .infocontent{line-height:2;}


